:root {
    --text-secondary: #5F5F5F;
}

html,
body,
#root {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

* {
    font-size: 16px;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
p {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}

.error-text {
    color: red;
    font-size: 12px;
}
